In [2]:
import pandas as pd       
import numpy as np           
import seaborn as sns

In [3]:
mydata = pd.read_csv("mydrone_Data.csv")

In [4]:
mydata.info()

<class 'pandas.DataFrame'>
RangeIndex: 8127 entries, 0 to 8126
Data columns (total 52 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   time(millisecond)                            8127 non-null   int64
 1   datetime(utc)                                8127 non-null   str
 2   latitude                                     8127 non-null   float64
 3   longitude                                    8127 non-null   float64
 4   height_above_takeoff(feet)                   8127 non-null   float64
 5   height_above_ground_at_drone_location(feet)  8127 non-null   float64
 6   ground_elevation_at_drone_location(feet)     8127 non-null   float64
 7   altitude_above_seaLevel(feet)                8127 non-null   float64
 8   height_sonar(feet)                           8127 non-null   int64
 9   speed(mph)                                   8127 non-null   float64
 10  distance(feet)                               8127 non-null   float64
 11  mileage(feet)                                8127 non-null   float64
 12  satellites                                   8127 non-null   int64
 13  gpslevel                                     8127 non-null   int64
 14  voltage(v)                                   8127 non-null   float64
 15  max_altitude(feet)                           8127 non-null   float64
 16  max_ascent(feet)                             8127 non-null   float64
 17  max_speed(mph)                               8127 non-null   float64
 18  max_distance(feet)                           8127 non-null   float64
 19   xSpeed(mph)                                 8127 non-null   float64
 20   ySpeed(mph)                                 8127 non-null   float64
 21   zSpeed(mph)                                 8127 non-null   float64
 22   compass_heading(degrees)                    8127 non-null   float64
 23   pitch(degrees)                              8127 non-null   float64
 24   roll(degrees)                               8127 non-null   float64
 25  isPhoto                                      8127 non-null   int64
 26  isVideo                                      8127 non-null   int64
 27  rc_elevator                                  8127 non-null   int64
 28  rc_aileron                                   8127 non-null   int64
 29  rc_throttle                                  8127 non-null   int64
 30  rc_rudder                                    8127 non-null   int64
 31  rc_elevator(percent)                         8127 non-null   int64
 32  rc_aileron(percent)                          8127 non-null   int64
 33  rc_throttle(percent)                         8127 non-null   int64
 34  rc_rudder(percent)                           8127 non-null   int64
 35  gimbal_heading(degrees)                      8127 non-null   float64
 36  gimbal_pitch(degrees)                        8127 non-null   float64
 37  gimbal_roll(degrees)                         8127 non-null   int64
 38  battery_percent                              8127 non-null   int64
 39  voltageCell1                                 0 non-null      float64
 40  voltageCell2                                 0 non-null      float64
 41  voltageCell3                                 0 non-null      float64
 42  voltageCell4                                 0 non-null      float64
 43  voltageCell5                                 0 non-null      float64
 44  voltageCell6                                 0 non-null      float64
 45  current(A)                                   8127 non-null   float64
 46  battery_temperature(f)                       8127 non-null   float64
 47  altitude(feet)                               8127 non-null   float64
 48  ascent(feet)                                 8127 non-null   float64
 49  flycStateRaw                                 8127 non-null   int64
 50  flycState                                    8127 non-null   str
 51  message                                      1 non-null      str
dtypes: float64(32), int64(17), str(3)
memory usage: 3.2 MB

In [5]:
mydata.head()

,time(millisecond),datetime(utc),latitude,longitude,height_above_takeoff(feet),height_above_ground_at_drone_location(feet),ground_elevation_at_drone_location(feet),altitude_above_seaLevel(feet),height_sonar(feet),speed(mph),...,voltageCell4,voltageCell5,voltageCell6,current(A),battery_temperature(f),altitude(feet),ascent(feet),flycStateRaw,flycState,message
0,5510,3/16/2022 18:39,36.559037,-89.074368,29.855644,29.855644,367.743461,397.599105,0,0.000000,...,NaN,NaN,NaN,15.88,29.950016,397.599105,29.855644,14,Waypoint,NaN
1,5610,3/16/2022 18:39,36.559037,-89.074368,30.839896,30.839896,367.743461,398.583357,0,0.000000,...,NaN,NaN,NaN,15.88,29.950016,398.583357,30.839896,14,Waypoint,Mission did take off
2,5710,3/16/2022 18:39,36.559037,-89.074368,31.824148,31.824148,367.743461,399.567609,0,0.000000,...,NaN,NaN,NaN,15.88,29.950016,399.567609,31.824148,14,Waypoint,NaN
3,5810,3/16/2022 18:39,36.559037,-89.074367,32.808400,32.808400,367.743461,400.551861,0,0.000000,...,NaN,NaN,NaN,15.88,29.950016,400.551861,32.808400,14,Waypoint,NaN
4,5910,3/16/2022 18:39,36.559037,-89.074367,33.792652,33.792652,367.743461,401.536113,0,0.223694,...,NaN,NaN,NaN,15.88,29.950016,401.536113,33.792652,14,Waypoint,NaN

In [6]:
cleaned_data = mydata.dropna(axis=1)
cleaned_data.head()

,time(millisecond),datetime(utc),latitude,longitude,height_above_takeoff(feet),height_above_ground_at_drone_location(feet),ground_elevation_at_drone_location(feet),altitude_above_seaLevel(feet),height_sonar(feet),speed(mph),...,gimbal_heading(degrees),gimbal_pitch(degrees),gimbal_roll(degrees),battery_percent,current(A),battery_temperature(f),altitude(feet),ascent(feet),flycStateRaw,flycState
0,5510,3/16/2022 18:39,36.559037,-89.074368,29.855644,29.855644,367.743461,397.599105,0,0.000000,...,254.4,-90.0,0,93,15.88,29.950016,397.599105,29.855644,14,Waypoint
1,5610,3/16/2022 18:39,36.559037,-89.074368,30.839896,30.839896,367.743461,398.583357,0,0.000000,...,254.4,-90.0,0,93,15.88,29.950016,398.583357,30.839896,14,Waypoint
2,5710,3/16/2022 18:39,36.559037,-89.074368,31.824148,31.824148,367.743461,399.567609,0,0.000000,...,254.4,-90.0,0,93,15.88,29.950016,399.567609,31.824148,14,Waypoint
3,5810,3/16/2022 18:39,36.559037,-89.074367,32.808400,32.808400,367.743461,400.551861,0,0.000000,...,254.4,-90.0,0,93,15.88,29.950016,400.551861,32.808400,14,Waypoint
4,5910,3/16/2022 18:39,36.559037,-89.074367,33.792652,33.792652,367.743461,401.536113,0,0.223694,...,254.4,-89.9,0,93,15.88,29.950016,401.536113,33.792652,14,Waypoint

In [7]:
# convert date to dattime
cleaned_data["datetime(utc)"] = pd.to_datetime(cleaned_data["datetime(utc)"])

In [8]:
cleaned_data.dtypes

time(millisecond)                                       int64
datetime(utc)                                  datetime64[us]
latitude                                              float64
longitude                                             float64
height_above_takeoff(feet)                            float64
height_above_ground_at_drone_location(feet)           float64
ground_elevation_at_drone_location(feet)              float64
altitude_above_seaLevel(feet)                         float64
height_sonar(feet)                                      int64
speed(mph)                                            float64
distance(feet)                                        float64
mileage(feet)                                         float64
satellites                                              int64
gpslevel                                                int64
voltage(v)                                            float64
max_altitude(feet)                                    float64
max_ascent(feet)                                      float64
max_speed(mph)                                        float64
max_distance(feet)                                    float64
 xSpeed(mph)                                          float64
 ySpeed(mph)                                          float64
 zSpeed(mph)                                          float64
 compass_heading(degrees)                             float64
 pitch(degrees)                                       float64
 roll(degrees)                                        float64
isPhoto                                                 int64
isVideo                                                 int64
rc_elevator                                             int64
rc_aileron                                              int64
rc_throttle                                             int64
rc_rudder                                               int64
rc_elevator(percent)                                    int64
rc_aileron(percent)                                     int64
rc_throttle(percent)                                    int64
rc_rudder(percent)                                      int64
gimbal_heading(degrees)                               float64
gimbal_pitch(degrees)                                 float64
gimbal_roll(degrees)                                    int64
battery_percent                                         int64
current(A)                                            float64
battery_temperature(f)                                float64
altitude(feet)                                        float64
ascent(feet)                                          float64
flycStateRaw                                            int64
flycState                                                 str
dtype: object

In [14]:
cat_col = cleaned_data.select_dtypes(include="str").columns.tolist()
new_cleaned = cleaned_data.drop(columns=cat_col)

In [15]:
new_cleaned.head(4)

,time(millisecond),datetime(utc),latitude,longitude,height_above_takeoff(feet),height_above_ground_at_drone_location(feet),ground_elevation_at_drone_location(feet),altitude_above_seaLevel(feet),height_sonar(feet),speed(mph),...,rc_rudder(percent),gimbal_heading(degrees),gimbal_pitch(degrees),gimbal_roll(degrees),battery_percent,current(A),battery_temperature(f),altitude(feet),ascent(feet),flycStateRaw
0,5510,2022-03-16 18:39:00,36.559037,-89.074368,29.855644,29.855644,367.743461,397.599105,0,0.0,...,0,254.4,-90.0,0,93,15.88,29.950016,397.599105,29.855644,14
1,5610,2022-03-16 18:39:00,36.559037,-89.074368,30.839896,30.839896,367.743461,398.583357,0,0.0,...,0,254.4,-90.0,0,93,15.88,29.950016,398.583357,30.839896,14
2,5710,2022-03-16 18:39:00,36.559037,-89.074368,31.824148,31.824148,367.743461,399.567609,0,0.0,...,0,254.4,-90.0,0,93,15.88,29.950016,399.567609,31.824148,14
3,5810,2022-03-16 18:39:00,36.559037,-89.074367,32.808400,32.808400,367.743461,400.551861,0,0.0,...,0,254.4,-90.0,0,93,15.88,29.950016,400.551861,32.808400,14

In [16]:
new_cleaned.info()

<class 'pandas.DataFrame'>
RangeIndex: 8127 entries, 0 to 8126
Data columns (total 44 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   time(millisecond)                            8127 non-null   int64
 1   datetime(utc)                                8127 non-null   datetime64[us]
 2   latitude                                     8127 non-null   float64
 3   longitude                                    8127 non-null   float64
 4   height_above_takeoff(feet)                   8127 non-null   float64
 5   height_above_ground_at_drone_location(feet)  8127 non-null   float64
 6   ground_elevation_at_drone_location(feet)     8127 non-null   float64
 7   altitude_above_seaLevel(feet)                8127 non-null   float64
 8   height_sonar(feet)                           8127 non-null   int64
 9   speed(mph)                                   8127 non-null   float64
 10  distance(feet)                               8127 non-null   float64
 11  mileage(feet)                                8127 non-null   float64
 12  satellites                                   8127 non-null   int64
 13  gpslevel                                     8127 non-null   int64
 14  voltage(v)                                   8127 non-null   float64
 15  max_altitude(feet)                           8127 non-null   float64
 16  max_ascent(feet)                             8127 non-null   float64
 17  max_speed(mph)                               8127 non-null   float64
 18  max_distance(feet)                           8127 non-null   float64
 19   xSpeed(mph)                                 8127 non-null   float64
 20   ySpeed(mph)                                 8127 non-null   float64
 21   zSpeed(mph)                                 8127 non-null   float64
 22   compass_heading(degrees)                    8127 non-null   float64
 23   pitch(degrees)                              8127 non-null   float64
 24   roll(degrees)                               8127 non-null   float64
 25  isPhoto                                      8127 non-null   int64
 26  isVideo                                      8127 non-null   int64
 27  rc_elevator                                  8127 non-null   int64
 28  rc_aileron                                   8127 non-null   int64
 29  rc_throttle                                  8127 non-null   int64
 30  rc_rudder                                    8127 non-null   int64
 31  rc_elevator(percent)                         8127 non-null   int64
 32  rc_aileron(percent)                          8127 non-null   int64
 33  rc_throttle(percent)                         8127 non-null   int64
 34  rc_rudder(percent)                           8127 non-null   int64
 35  gimbal_heading(degrees)                      8127 non-null   float64
 36  gimbal_pitch(degrees)                        8127 non-null   float64
 37  gimbal_roll(degrees)                         8127 non-null   int64
 38  battery_percent                              8127 non-null   int64
 39  current(A)                                   8127 non-null   float64
 40  battery_temperature(f)                       8127 non-null   float64
 41  altitude(feet)                               8127 non-null   float64
 42  ascent(feet)                                 8127 non-null   float64
 43  flycStateRaw                                 8127 non-null   int64
dtypes: datetime64[us](1), float64(26), int64(17)
memory usage: 2.7 MB