In [1]:
import pandas as pd                           
import numpy as np                      
import seaborn as sns

In [3]:
# Load the data 
mydata = pd.read_csv("weather.csv")
mydata.head()

,#,Date-Time (CDT),Temperature (°F),RH (%),Dew Point (°F),Host Connected,Stopped,End of File
0,1,05/03/2023 14:51:44,75.78,22.96,35.34,NaN,NaN,NaN
1,2,05/03/2023 14:56:44,74.03,24.02,35.01,NaN,NaN,NaN
2,3,05/03/2023 15:01:44,72.86,24.31,34.32,NaN,NaN,NaN
3,4,05/03/2023 15:06:44,72.23,24.91,34.40,NaN,NaN,NaN
4,5,05/03/2023 15:11:44,71.80,25.18,34.30,NaN,NaN,NaN

In [7]:
sensor_data = mydata.copy()

In [8]:
sensor_data.info()

<class 'pandas.DataFrame'>
RangeIndex: 39063 entries, 0 to 39062
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   #                   39063 non-null  int64
 1   Date-Time (CDT)     39063 non-null  str
 2   Temperature   (°F)  39058 non-null  float64
 3   RH   (%)            39058 non-null  float64
 4   Dew Point   (°F)    39058 non-null  float64
 5   Host Connected      4 non-null      str
 6   Stopped             1 non-null      str
 7   End of File         1 non-null      str
dtypes: float64(3), int64(1), str(4)
memory usage: 2.4 MB

In [12]:
sensor_data.columns.tolist()[1].strip()

'Date-Time (CDT)'

In [ ]:
sensor_data.columns = sensor_data.columns.str.lower().str.strip().str.replace(" ","_")