In [1]:
import pandas as pd                           
import numpy as np                      
import seaborn as sns

In [2]:
# Load the data 
mydata = pd.read_csv("weather.csv")
mydata.head()

,#,Date-Time (CDT),Temperature (°F),RH (%),Dew Point (°F),Host Connected,Stopped,End of File
0,1,05/03/2023 14:51:44,75.78,22.96,35.34,NaN,NaN,NaN
1,2,05/03/2023 14:56:44,74.03,24.02,35.01,NaN,NaN,NaN
2,3,05/03/2023 15:01:44,72.86,24.31,34.32,NaN,NaN,NaN
3,4,05/03/2023 15:06:44,72.23,24.91,34.40,NaN,NaN,NaN
4,5,05/03/2023 15:11:44,71.80,25.18,34.30,NaN,NaN,NaN

In [3]:
sensor_data = mydata.copy()

In [4]:
sensor_data.info()

<class 'pandas.DataFrame'>
RangeIndex: 39063 entries, 0 to 39062
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   #                   39063 non-null  int64
 1   Date-Time (CDT)     39063 non-null  str
 2   Temperature   (°F)  39058 non-null  float64
 3   RH   (%)            39058 non-null  float64
 4   Dew Point   (°F)    39058 non-null  float64
 5   Host Connected      4 non-null      str
 6   Stopped             1 non-null      str
 7   End of File         1 non-null      str
dtypes: float64(3), int64(1), str(4)
memory usage: 2.4 MB

In [5]:
sensor_data.columns.tolist()[1].split()[0]

'Date-Time'

In [6]:
sensor_data.columns.str.lower().str.strip().str.split()
# str.replace(" ","_")

Index([                   ['#'],   ['date-time', '(cdt)'],
        ['temperature', '(°f)'],            ['rh', '(%)'],
       ['dew', 'point', '(°f)'],    ['host', 'connected'],
                    ['stopped'],    ['end', 'of', 'file']],
      dtype='object')

In [7]:
for col in sensor_data.columns.str.lower().str.strip().str.split():
    print( col[0])

#
date-time
temperature
rh
dew
host
stopped
end

In [8]:
[col[0] for col in sensor_data.columns.str.lower().str.strip().str.split()]

['#', 'date-time', 'temperature', 'rh', 'dew', 'host', 'stopped', 'end']

In [9]:
sensor_data.columns = [col[0] for col in sensor_data.columns.str.lower().str.strip().str.split()]

In [10]:
sensor_data.head(2)

   #            date-time  temperature     rh    dew host stopped  end
0  1  05/03/2023 14:51:44        75.78  22.96  35.34  NaN     NaN  NaN
1  2  05/03/2023 14:56:44        74.03  24.02  35.01  NaN     NaN  NaN

In [11]:
sensor_cleaned = sensor_data.iloc[:,1:5]

In [12]:
sensor_cleaned.head(2)

             date-time  temperature     rh    dew
0  05/03/2023 14:51:44        75.78  22.96  35.34
1  05/03/2023 14:56:44        74.03  24.02  35.01

In [13]:
sensor_cleaned.info()

<class 'pandas.DataFrame'>
RangeIndex: 39063 entries, 0 to 39062
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date-time    39063 non-null  str
 1   temperature  39058 non-null  float64
 2   rh           39058 non-null  float64
 3   dew          39058 non-null  float64
dtypes: float64(3), str(1)
memory usage: 1.2 MB

In [15]:
sensor_cleaned["date-time"] = pd.to_datetime(sensor_cleaned["date-time"])

In [16]:
sensor_cleaned.head()

            date-time  temperature     rh    dew
0 2023-05-03 14:51:44        75.78  22.96  35.34
1 2023-05-03 14:56:44        74.03  24.02  35.01
2 2023-05-03 15:01:44        72.86  24.31  34.32
3 2023-05-03 15:06:44        72.23  24.91  34.40
4 2023-05-03 15:11:44        71.80  25.18  34.30